In [1]:
import pandas as pd
import numpy as np
import random

creating a series

In [5]:
ser = pd.Series(np.random.rand(3400))

In [6]:
ser

0       0.651998
1       0.458503
2       0.173041
3       0.371379
4       0.134854
          ...
3395    0.816329
3396    0.041505
3397    0.139125
3398    0.418907
3399    0.770879
Length: 3400, dtype: float64

data type of series

In [8]:
type(ser)

pandas.core.series.Series

In [9]:
ser.dtype

dtype('float64')

In [10]:
ser.index

RangeIndex(start=0, stop=3400, step=1)

In [11]:
ser.head(5)

0    0.651998
1    0.458503
2    0.173041
3    0.371379
4    0.134854
dtype: float64

In [12]:
ser.head(20)

0     0.651998
1     0.458503
2     0.173041
3     0.371379
4     0.134854
5     0.775389
6     0.626607
7     0.373260
8     0.490573
9     0.030897
10    0.120701
11    0.560022
12    0.254534
13    0.501623
14    0.545827
15    0.288312
16    0.122984
17    0.695938
18    0.235188
19    0.510074
dtype: float64

In [13]:
ser.head(40)

0     0.651998
1     0.458503
2     0.173041
3     0.371379
4     0.134854
5     0.775389
6     0.626607
7     0.373260
8     0.490573
9     0.030897
10    0.120701
11    0.560022
12    0.254534
13    0.501623
14    0.545827
15    0.288312
16    0.122984
17    0.695938
18    0.235188
19    0.510074
20    0.069265
21    0.057367
22    0.287686
23    0.107312
24    0.484622
25    0.322117
26    0.999207
27    0.597193
28    0.188182
29    0.634698
30    0.644893
31    0.621974
32    0.227110
33    0.614041
34    0.026610
35    0.372097
36    0.960047
37    0.933559
38    0.045284
39    0.017905
dtype: float64

In [15]:
ser.head(69)

0     0.651998
1     0.458503
2     0.173041
3     0.371379
4     0.134854
        ...
64    0.622370
65    0.950308
66    0.045874
67    0.563700
68    0.816400
Length: 69, dtype: float64

In [16]:
ser.tail(45)

3355    0.403546
3356    0.934620
3357    0.376168
3358    0.069024
3359    0.643396
3360    0.990153
3361    0.604387
3362    0.706428
3363    0.774881
3364    0.969792
3365    0.879205
3366    0.981245
3367    0.404890
3368    0.902586
3369    0.109384
3370    0.625464
3371    0.372213
3372    0.063016
3373    0.081058
3374    0.706165
3375    0.264162
3376    0.433171
3377    0.905233
3378    0.543656
3379    0.394564
3380    0.028602
3381    0.203954
3382    0.753560
3383    0.355287
3384    0.180127
3385    0.773068
3386    0.326729
3387    0.946274
3388    0.276908
3389    0.092525
3390    0.261669
3391    0.535488
3392    0.431091
3393    0.076286
3394    0.377879
3395    0.816329
3396    0.041505
3397    0.139125
3398    0.418907
3399    0.770879
dtype: float64

we create series to find row and column value

lets create the data frame

In [17]:
df = pd.DataFrame(np.random.rand(500,8),index = (np.arange(500)))

creating a dataframe out of series = pd.dataframe
with the help of numpy we create series with 
500 rows 8 column
and giving index upto 500
index is parameter and we use it only on complex dataset

In [18]:
df

,0,1,2,3,4,5,6,7
0,0.351074,0.452860,0.303078,0.626556,0.748897,0.471786,0.879741,0.467011
1,0.937823,0.137672,0.579668,0.604215,0.379330,0.793668,0.224791,0.983947
2,0.295156,0.511805,0.223088,0.606744,0.420778,0.497754,0.973155,0.929880
3,0.362329,0.148878,0.327537,0.234737,0.384747,0.001812,0.407081,0.716825
4,0.975463,0.905033,0.260787,0.147508,0.789750,0.456437,0.694834,0.094624
...,...,...,...,...,...,...,...,...
495,0.468026,0.337154,0.141569,0.758871,0.257928,0.208591,0.433963,0.508396
496,0.096782,0.332664,0.587388,0.942107,0.089805,0.844567,0.778927,0.147056
497,0.918481,0.691581,0.778470,0.856236,0.442210,0.375361,0.012703,0.507403
498,0.123012,0.280349,0.138207,0.058171,0.917523,0.302340,0.630997,0.600176
499,0.382101,0.248120,0.323944,0.841008,0.075546,0.616969,0.246066,0.609953

In [19]:
df1 = pd.DataFrame(np.random.rand(500,8))

In [20]:
df1

,0,1,2,3,4,5,6,7
0,0.631272,0.932684,0.827962,0.578331,0.546776,0.711298,0.467241,0.436127
1,0.556506,0.219337,0.878078,0.453772,0.190274,0.238371,0.641060,0.259434
2,0.894986,0.206283,0.314696,0.788893,0.229202,0.364251,0.623863,0.269133
3,0.782116,0.168604,0.683663,0.964512,0.712612,0.468595,0.831972,0.295898
4,0.348613,0.137857,0.923998,0.950948,0.933860,0.373259,0.710156,0.038920
...,...,...,...,...,...,...,...,...
495,0.282683,0.171618,0.090279,0.756568,0.585736,0.017435,0.422768,0.725652
496,0.270812,0.107844,0.369614,0.186407,0.497398,0.375579,0.770951,0.959788
497,0.389403,0.693846,0.308981,0.495417,0.270949,0.141128,0.973432,0.106015
498,0.143828,0.700826,0.203606,0.731834,0.785894,0.820927,0.046017,0.799320
499,0.427813,0.445299,0.407795,0.233795,0.216805,0.096079,0.127058,0.436023

In [21]:
df.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
dtype: object

In [22]:
type(df)

pandas.core.frame.DataFrame

In [23]:
df.columns

RangeIndex(start=0, stop=8, step=1)

convert the dataframe in series

array is formed in column data

In [25]:
df.to_numpy()

array([[0.35107359, 0.45286007, 0.30307762, ..., 0.4717862 , 0.87974063,
        0.46701115],
       [0.93782312, 0.13767216, 0.57966774, ..., 0.79366817, 0.22479138,
        0.98394711],
       [0.29515611, 0.51180461, 0.22308792, ..., 0.49775443, 0.97315467,
        0.92987997],
       ...,
       [0.91848081, 0.69158063, 0.77847022, ..., 0.37536149, 0.01270259,
        0.50740345],
       [0.1230117 , 0.28034894, 0.13820736, ..., 0.30234049, 0.63099661,
        0.60017579],
       [0.38210106, 0.24811965, 0.32394434, ..., 0.61696855, 0.24606588,
        0.6099534 ]])

creating the series file from dataframe

In [26]:
df.to_csv("code.csv")

In [27]:
df.head()

,0,1,2,3,4,5,6,7
0,0.351074,0.452860,0.303078,0.626556,0.748897,0.471786,0.879741,0.467011
1,0.937823,0.137672,0.579668,0.604215,0.379330,0.793668,0.224791,0.983947
2,0.295156,0.511805,0.223088,0.606744,0.420778,0.497754,0.973155,0.929880
3,0.362329,0.148878,0.327537,0.234737,0.384747,0.001812,0.407081,0.716825
4,0.975463,0.905033,0.260787,0.147508,0.789750,0.456437,0.694834,0.094624

In [29]:
df.tail(5)

,0,1,2,3,4,5,6,7
495,0.468026,0.337154,0.141569,0.758871,0.257928,0.208591,0.433963,0.508396
496,0.096782,0.332664,0.587388,0.942107,0.089805,0.844567,0.778927,0.147056
497,0.918481,0.691581,0.778470,0.856236,0.442210,0.375361,0.012703,0.507403
498,0.123012,0.280349,0.138207,0.058171,0.917523,0.302340,0.630997,0.600176
499,0.382101,0.248120,0.323944,0.841008,0.075546,0.616969,0.246066,0.609953

reading the csv file

In [30]:
new_df = pd.read_csv("code.csv")
new_df

,Unnamed: 0,0,1,2,3,4,5,6,7
0,0,0.351074,0.452860,0.303078,0.626556,0.748897,0.471786,0.879741,0.467011
1,1,0.937823,0.137672,0.579668,0.604215,0.379330,0.793668,0.224791,0.983947
2,2,0.295156,0.511805,0.223088,0.606744,0.420778,0.497754,0.973155,0.929880
3,3,0.362329,0.148878,0.327537,0.234737,0.384747,0.001812,0.407081,0.716825
4,4,0.975463,0.905033,0.260787,0.147508,0.789750,0.456437,0.694834,0.094624
...,...,...,...,...,...,...,...,...,...
495,495,0.468026,0.337154,0.141569,0.758871,0.257928,0.208591,0.433963,0.508396
496,496,0.096782,0.332664,0.587388,0.942107,0.089805,0.844567,0.778927,0.147056
497,497,0.918481,0.691581,0.778470,0.856236,0.442210,0.375361,0.012703,0.507403
498,498,0.123012,0.280349,0.138207,0.058171,0.917523,0.302340,0.630997,0.600176
499,499,0.382101,0.248120,0.323944,0.841008,0.075546,0.616969,0.246066,0.609953

In [35]:
df.to_excel("code.xlsx")

data are in rows and features in columns

In [36]:
df_2_e = df.to_csv("index_false.csv",index=False)

In [37]:
df_2_e

describe comes row wise and use for stastical work

In [38]:
df.describe()

,0,1,2,3,4,5,6,7
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,0.472040,0.496872,0.482175,0.486337,0.500030,0.485472,0.474587,0.485994
std,0.294039,0.287601,0.276350,0.282330,0.286097,0.284812,0.281904,0.292051
min,0.002590,0.004843,0.002660,0.000804,0.006312,0.001043,0.002740,0.000052
25%,0.204852,0.237609,0.251228,0.250763,0.268815,0.231566,0.242306,0.229910
50%,0.460561,0.505708,0.460960,0.475330,0.491074,0.458379,0.443358,0.490031
75%,0.724445,0.721866,0.727989,0.727374,0.739256,0.730901,0.709056,0.753469
max,0.998618,0.999076,0.996258,0.994950,0.997493,0.997848,0.999031,0.996844

lets get the value of location describes

In [39]:
df.loc[0,2]

0.3030776173524521

converting the number column into alphabets

In [45]:
df.columns = list('abcdefgh')

In [46]:
df

,a,b,c,d,e,f,g,h
0,0.351074,0.452860,0.303078,0.626556,0.748897,0.471786,0.879741,0.467011
1,0.937823,0.137672,0.579668,0.604215,0.379330,0.793668,0.224791,0.983947
2,0.295156,0.511805,0.223088,0.606744,0.420778,0.497754,0.973155,0.929880
3,0.362329,0.148878,0.327537,0.234737,0.384747,0.001812,0.407081,0.716825
4,0.975463,0.905033,0.260787,0.147508,0.789750,0.456437,0.694834,0.094624
...,...,...,...,...,...,...,...,...
495,0.468026,0.337154,0.141569,0.758871,0.257928,0.208591,0.433963,0.508396
496,0.096782,0.332664,0.587388,0.942107,0.089805,0.844567,0.778927,0.147056
497,0.918481,0.691581,0.778470,0.856236,0.442210,0.375361,0.012703,0.507403
498,0.123012,0.280349,0.138207,0.058171,0.917523,0.302340,0.630997,0.600176
499,0.382101,0.248120,0.323944,0.841008,0.075546,0.616969,0.246066,0.609953

dropping a column

In [49]:
df_3 = df.drop('c',axis = 1)

In [50]:
df_3

            a         b         d         e         f         g         h
0    0.351074  0.452860  0.626556  0.748897  0.471786  0.879741  0.467011
1    0.937823  0.137672  0.604215  0.379330  0.793668  0.224791  0.983947
2    0.295156  0.511805  0.606744  0.420778  0.497754  0.973155  0.929880
3    0.362329  0.148878  0.234737  0.384747  0.001812  0.407081  0.716825
4    0.975463  0.905033  0.147508  0.789750  0.456437  0.694834  0.094624
..        ...       ...       ...       ...       ...       ...       ...
495  0.468026  0.337154  0.758871  0.257928  0.208591  0.433963  0.508396
496  0.096782  0.332664  0.942107  0.089805  0.844567  0.778927  0.147056
497  0.918481  0.691581  0.856236  0.442210  0.375361  0.012703  0.507403
498  0.123012  0.280349  0.058171  0.917523  0.302340  0.630997  0.600176
499  0.382101  0.248120  0.841008  0.075546  0.616969  0.246066  0.609953

[500 rows x 7 columns]

In [51]:
df_4 = df.drop(0,axis = 0)

In [52]:
df_4

,a,b,c,d,e,f,g,h
1,0.937823,0.137672,0.579668,0.604215,0.379330,0.793668,0.224791,0.983947
2,0.295156,0.511805,0.223088,0.606744,0.420778,0.497754,0.973155,0.929880
3,0.362329,0.148878,0.327537,0.234737,0.384747,0.001812,0.407081,0.716825
4,0.975463,0.905033,0.260787,0.147508,0.789750,0.456437,0.694834,0.094624
5,0.150542,0.137631,0.879059,0.375346,0.662783,0.207205,0.782656,0.893014
...,...,...,...,...,...,...,...,...
495,0.468026,0.337154,0.141569,0.758871,0.257928,0.208591,0.433963,0.508396
496,0.096782,0.332664,0.587388,0.942107,0.089805,0.844567,0.778927,0.147056
497,0.918481,0.691581,0.778470,0.856236,0.442210,0.375361,0.012703,0.507403
498,0.123012,0.280349,0.138207,0.058171,0.917523,0.302340,0.630997,0.600176
499,0.382101,0.248120,0.323944,0.841008,0.075546,0.616969,0.246066,0.609953

we cant do operations in row beacause it does not have features